.alm-btn-wrap {
  margin-top: 30px;

  @include breakpoint(large) {
    padding: 10px 0 100px !important;
  }

  @include breakpoint(small) {
    margin-top: 10px !important;
    padding: 10px 0 200px !important;
  }
}

.siteinspire {
  .filtr-item {
    padding: 10px;
    height: calc(100px + 210px);
    margin-bottom: 0px;

    opacity: 1;
    backface-visibility: hidden;
    perspective: 1000px;
    transform-style: preserve-3d;
    position: relative;
    transition: all 0.2s ease-out 0ms;
    pointer-events: auto;
    padding-bottom: 30px;

    &__inner {
      padding: 10px 20px 0 20px;
      background-color: $dark-gray;
      height: calc(100% - 130px);
    }

    &__image {
      position: relative;
      height: 120px;
      overflow: hidden;

      @include breakpoint(medium) {
        height: 160px;
      }

      @include breakpoint(large) {
        height: 140px;
      }

      @include breakpoint(xlarge) {
        height: 160px;
      }
    }

    img {
      width: 300px;
      // height: 150px;
    }

    .heading {
      font-family: $body-font-family-bold;
      font-size: 12px;
      font-weight: bold;
      text-align: left;
      color: #fefefe;

      @include breakpoint(medium) {
        font-size: 16px;
      }
    }

    .description {
      font-size: 12px;
      line-height: 1.38;
      text-align: left;
      color: $medium-gray;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      padding-top: 10px;
    }

    .tags {
      position: absolute;
      bottom: 45px;

      @include breakpoint(medium) {
        bottom: 5px;
      }

      @include breakpoint(large) {
        bottom: 25px;
      }

      @include breakpoint(xlarge) {
        bottom: 5px;
      }

      p {
        display: inline-block;
        vertical-align: top;
        font-size: 11px;
        line-height: 22px;
        font-style: oblique;
        text-align: left;
        color: $white;
        margin-bottom: 0;

        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 100px;

        @include breakpoint(medium) {
          width: calc(100px + 70px);

          @include breakpoint(landscape) {
            width: calc(100px + 25px);
          }
        }

        @include breakpoint(large) {
          width: calc(100px + 20px);
        }

        @include breakpoint(xlarge) {
          width: calc(100px + 100px);
        }
      }

      svg {
        width: 14px;
        height: 14px;
      }
    }
  }
}
