.alm-btn-wrap {
  margin-top: 50px;
}

.siteinspire {
  .filtr-item {
    padding: 10px;
    height: calc(100px + 210px);
    margin-bottom: 0px;
    
    opacity: 1;
    backface-visibility: hidden;
    perspective: 1000px;
    transform-style: preserve-3d;
    position: relative;
    transition: all 0.2s ease-out 0ms;
    pointer-events: auto;    
    padding-bottom: 30px;

    &__inner {
      padding: 10px 20px 0 20px;
      background-color: $dark-gray;
      height: calc(100% - 130px);
    }

    img {
      width: 300px;
      height: 150px;
    }

    .heading {
      font-size: 12px;
      font-weight: bold;
      text-align: left;
      color: #fefefe;

      @include breakpoint(medium) {
        font-size: 16px;
      }
    }

    .description {
      font-size: 12px;
      line-height: 1.38;
      text-align: left;
      color: $medium-gray;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      padding-top: 15px;
    }

    .tags {
      position: absolute;
      bottom: 20px;

      p {
        display: inline-block;
        vertical-align: middle;
        font-size: 11px;
        font-style: oblique;
        text-align: left;
        color: $mediumer-gray;
        margin-bottom: 0;
        
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 100px;

        @include breakpoint(medium) {
          width: calc(100px + 110px);
        }
      }

      svg {
        width: 14px;
        height: 14px;
      }
    }
  }
}
