.inspire {
  &--logo {
    padding: 10px;
  }

  &--text {
    font-family: $body-font-family;
    color: #aaacb4;
    text-align: left;
  }

  &--curated {
    font-family: $body-font-family;
    color: #fefefe;
    text-align: left;
  }

  &__left {
    .alm-filter-nav {
      display: none;
      list-style-type: none;
      text-align: left;
      padding: 0;
      margin: 0;

      @include breakpoint(medium) {
        display: block;
      }
    }
  }

  &__filter {
    padding-top: 100px;

    &--header {
      color: #676373;
      font-weight: bold;
      display: inline-block;
      line-height: 24px;

      p {
        display: inline-block;
        line-height: 24px;
        margin-bottom: 0;
        vertical-align: top;
      }
    }
  }
}

.alm-btn-wrap .alm-load-more-btn {
  background: #f14c23 !important;
  transition: background 0.5s ease, padding .25s ease-in-out, width .25s ease-in-out !important;

  &:hover {
    background: #f1785a !important;
  }
}