// Navigation breakpoints

// Mobile menu
.mobile-menu,
.top-bar-right {
  display: none; // prevents repaint caused by JS hiding menu onload
}

.mobile-menu,
.site-title-bar {
  position: absolute;
  display: block;
  width: 100%;
  z-index: 100;

  @include breakpoint(xlarge) {
    display: none;
  }

  .title-bar-right {
    padding: 20px;
  }

  .menu-icon {
    &::after {
      background-color: $orange;
      box-shadow: 0 7px 0 $orange, 0 14px 0 $orange;
    }
  }
}

.desktop-menu,
.site-navigation .top-bar-left {
  @include show-for(medium);
}

.top-bar,
.top-bar ul {
  background-color: $white;
}


// Site title
.site-mobile-title a {
  // placeholder
}

.site-desktop-title {
  &__logo {
    width: 255px;
  }

  a {
    padding: 20px;
    display: inline-block;
  }
}

.mobile-menu,
.mobile-off-canvas-menu {

  // submenu arrow
  .is-accordion-submenu-parent {
    > a::after {
      border-color: $accordionmenu-arrow-color transparent transparent;
    }
    &.active > a::after {
      border-color: $menu-item-color-active transparent transparent;
    }
  }

  // current page
  .current_page_item > a {
    font-weight: bold;
  }
}



// Tablet and desktop menu
.desktop-menu {

  // submenu arrow
  li.is-dropdown-submenu-parent {
    > a::after {
      border-color: $accordionmenu-arrow-color transparent transparent;
    }
    &.active > a::after {
      border-color: $menu-item-color-active transparent transparent;
    }
  }
}

.site-navigation {
  @include breakpoint(small only) {
    padding: 0; // prevents container visibility on small screens
  }
}



// WP post navigation
.post-navigation {
  @include clearfix;
}

.nav-previous {
  float:left;
}

.nav-next {
  float:right;
}