@font-face{
  font-family:"Helvetica Neue W31";
  src:url("../fonts/badf75de-70f1-4350-adb4-4c4ad8b6382c.eot?#iefix");
  src:url("../fonts/badf75de-70f1-4350-adb4-4c4ad8b6382c.eot?#iefix") format("eot"),
      url("../fonts/c2c0b11f-81e9-4d53-a2c0-101f0d04118b.woff2") format("woff2"),
      url("../fonts/214bdd25-4f24-45f3-ae15-4ad14e3d7670.woff") format("woff"),
      url("../fonts/f2d4eaae-7174-4ba4-b167-5ff29de2bf6b.ttf") format("truetype"),
      url("../fonts/d722484c-901a-49ab-be2b-e71d114d2d2e.svg#d722484c-901a-49ab-be2b-e71d114d2d2e") format("svg");
}

@font-face{
  font-family:"Helvetica Neue W31 Bold";
  src:url("../fonts/5b26f0f2-ca2f-46e4-94bc-8492e5122f1d.eot?#iefix");
  src:url("../fonts/5b26f0f2-ca2f-46e4-94bc-8492e5122f1d.eot?#iefix") format("eot"),
      url("../fonts/d219e0df-7486-460b-92c6-f633d60312c6.woff2") format("woff2"),
      url("../fonts/2b149e8b-4167-4121-9dba-2bdb55aeb1ba.woff") format("woff"),
      url("../fonts/4c69acf3-07ac-4245-ba04-dafc670f6df8.ttf") format("truetype"),
      url("../fonts/cbc5e8e5-6e6f-461f-a299-e6368732ed4b.svg#cbc5e8e5-6e6f-461f-a299-e6368732ed4b") format("svg");
}

@font-face {
  font-family: 'halcombold';
  src: url('../fonts/halcom-bold-webfont.woff2') format('woff2'),
  url('../fonts/halcom-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

//@font-face {
//  font-family: 'halcomextrabold';
//  src: url('../fonts/halcom-extrabold-webfont.woff2') format('woff2'),
//  url('../fonts/halcom-extrabold-webfont.woff') format('woff');
//  font-weight: normal;
//  font-style: normal;
//}

@font-face {
  font-family: 'halcomregular';
  src: url('../fonts/halcom-regular-webfont.woff2') format('woff2'),
  url('../fonts/halcom-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'halcommedium';
  src: url('../fonts/halcom-medium-webfont.woff2') format('woff2'),
  url('../fonts/halcom-medium-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'halcombook';
  src: url('../fonts/halcom-book-webfont.woff2') format('woff2'),
  url('../fonts/halcom-book-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'halcombold_italic';
  src: url('../fonts/halcom-bolditalic-webfont.woff2') format('woff2'),
  url('../fonts/halcom-bolditalic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
